.container {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-self: center;
}

.UploadBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 3px black solid;
  border-radius: 5px;
  height: 300px;
  width: 400px;
  color: rgb(0, 0, 0);
}

.FileSelectButton{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
border-radius: 8px;
width: 100px;
padding: 10px 16px;
font-size: 12px;
font-weight: 500;
line-height: 1;
transition: transform 200ms,background 200ms;
background: transparent;
color: #000000;
box-shadow: 0 0 0 2px #000000 inset;
}
.FileSelectButton:hover{
    transform: translateY(-2px);
    color: aliceblue;
    background-color: #000000;
}
.uploadedItems{
  text-align: left;
}

.userData{
display: flex;
flex-direction: column;
text-align: left;
border: #000000 solid 2px;
border-radius: 1rem;
margin: 5px;
padding: 2rem;
list-style-type: none;

}